.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
}

#newsSiteLogo {
height:4rem;
flex-grow: 2;
}

.navbarSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 5px;
  flex-grow:3
  
}


/* Article Card Styling & Layout */
.articleCard_wrapper {
  display: flex; 
  flex-direction:column; 
  justify-content: center;

  
}

.articleCard {
  border: 3px solid  black;
  margin-top: 10px;
}

.articleCard__title {
  border: 3px solid  rgb(226, 220, 49);
  margin-top: 5px;
  margin-bottom: 7px;
}

.articleCard__info--inline {
  border: 3px solid  rgb(217, 16, 16);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1
  
}

.articleCard__info--inline p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.articleCard__body--wrap {
  border: 3px solid  rgb(28, 32, 224);
  margin-top: 5px;
  margin-bottom:5px;
}

.article_card__upvotes--inline {
  border: 3px solid  rgb(44, 234, 91);
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Mobile design features */
@media only screen and (min-width: 600px) {
  #articleCard li{
    text-decoration: none none;
  }
  
  /* Article Card Styling & Layout */
  .articleCard {
    border: 3px solid  black;
    margin-top: 10px;
  }
  
  .articleCard__title {
    border: 3px solid  rgb(226, 220, 49);
    margin-top: 5px;
    margin-bottom: 7px;
  }
  
  .articleCard__info--inline {
    border: 3px solid  rgb(217, 16, 16);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  .articleCard__info--inline p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .articleCard__body--wrap {
    border: 3px solid  rgb(28, 32, 224);
    margin-top: 5px;
    margin-bottom:5px;
  }
  
  .article_card__upvotes--inline {
    border: 3px solid  rgb(44, 234, 91);
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .article_card__upvotes--inline button {
   
  }
} 